<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="content">
        <h1>Bienvenido a Nuestro Sitio Web</h1>
        <p>Descubre más sobre lo que tenemos para ofrecerte.</p>
        <div class="image-section">
            <img src="/img/logo.png" alt="Imagen Ejemplo" class="home-image">
            <p>Explora nuestros servicios y productos.</p>
        </div>
        <div class="about-section">
            <h2>Acerca de Nosotros</h2>
            <p>Somos una empresa dedicada a proporcionar soluciones tecnológicas innovadoras. Nuestro compromiso es con la calidad, la innovación y la satisfacción total del cliente. Creemos en crear valor a través de la tecnología, ofreciendo productos y servicios que superen las expectativas. Nuestra visión es ser líderes en el mercado tecnológico, reconocidos por nuestra capacidad de adaptación y nuestra cultura orientada al futuro.</p>
        </div>
        <div class="services-section">
            <h2>Nuestros Servicios</h2>
            <ul class="services-list">
                <li><strong>Desarrollo de Software a Medida:</strong> Creamos soluciones de software personalizadas, diseñadas para satisfacer tus necesidades específicas.</li>
                <li><strong>Consultoría Tecnológica:</strong> Ofrecemos asesoramiento experto para optimizar tus operaciones y estrategias tecnológicas.</li>
                <li><strong>Soporte y Mantenimiento de Sistemas:</strong> Proporcionamos soporte continuo y mantenimiento para asegurar el óptimo funcionamiento de tus sistemas.</li>
            </ul>
        </div>
    </div>
</body>
</html>